$bg-color: #161616;
$font-color: #e7e7e7;
$unactive-color: #666;
$unactive-color-hover: darken($unactive-color, 10);
$action-color: #5551e9;
$action-color--alt: #e49a22;
$action-color--alt-hover: darken($action-color--alt, 10);
$action-color-hover: darken($action-color, 7);
$font: "Roboto", sans-serif;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html body {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: flex-end;
  color: $font-color;
  font-family: $font;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px;

  .main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    .content {
      height: 100%;
      flex: 1;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: auto;
    }
  }
}

.toolbar {
  display: flex;
  width: 100%;
  &-buttons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &-button {
    background: $unactive-color;
    color: $font-color;
    border: 0;
    padding: 0.7rem 3rem 0.7rem 0.8rem;
    line-height: 1;
    cursor: pointer;
    &:hover {
      background: $unactive-color-hover;
    }

    &--active {
      background: $action-color--alt;
      &:hover {
        background: $action-color--alt-hover;
      }
    }
  }
  .newNote-button {
    background: $action-color;
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem 0.7rem 0.8rem;
    &:hover {
      background: $action-color-hover;
    }
  }
}

.searchbar {
  width: 100%;
  position: relative;
  display: flex;
  input {
    background: #262626;
    flex: 1;
    border: 2px solid transparent;
    color: $font-color;
    transition: 0.2s;
    height: 2.5rem;
    padding: 1rem;
    font-size: 0.9rem;
    box-sizing: border-box;
    &:hover,
    &:focus {
      outline: 0;
      border: 2px solid $font-color;
    }
    &:valid {
      + .searchbar-button {
        display: block;
      }
    }
  }

  &-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: 0;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.05);
    }
  }
}

.modal {
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: none;

  &--visible {
    display: flex;
  }

  &-window {
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background: $bg-color;
  }

  &-form {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    input,
    textarea {
      background: #262626;
      color: $font-color;
      font-family: $font;
      min-height: 1.5rem;
      border: 2px solid transparent;
      transition: border 0.5s;
      width: 100%;
      &:focus {
        outline: 0;
        border: 2px solid $font-color;
      }
    }
    textarea {
      resize: none;
      box-sizing: border-box;
    }
    &-container {
      width: 100%;
      gap: 1rem;
      display: flex;
    }
  }

  &-buttons {
    width: 100%;
    display: flex;
    .modal-button {
      background: $unactive-color;
      color: $font-color;
      border: 0;
      padding: 0.7rem 3rem 0.7rem 0.8rem;
      line-height: 1;
      cursor: pointer;
      width: 50%;
      text-align: left;
      transition: 0.5s;
      &:hover {
        background: $unactive-color-hover;
      }
      &-save {
        background: $action-color;
        &:hover {
          background: $action-color-hover;
        }
      }
    }
  }
  &-toggle {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    gap: 0.5rem;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        ~ .styler {
          background-color: $action-color;
          &::before {
            left: 1.5rem;
          }
        }
      }
    }
    .styler {
      width: 3rem;
      height: 1.5rem;
      border-radius: 1rem;
      border: 2px solid transparent;
      box-sizing: border-box;
      display: block;
      background-color: $unactive-color;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
        left: 1px;
        border-radius: 1rem;
        background-color: $font-color;
        transition: 0.1s;
      }
    }
  }
}
